.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);

}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2), 0 7px 20px 0 rbga(0, 0, 0, .17);
    animation-name: modalOpen;
    animation-duration: 1s;

}

.modal-header h2 {
    margin: 0;
}

.modal-header {
    background: #2c3e50;
    padding: 15px;
    color: #fff;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    background: #2c3e50;
    padding: 15px;
    color: #fff;
    text-align: center;
}

.modal-footer h3 {
    margin: 0;
}

.modalAtivo {
    display: block;
}

.modalFechado {
    display: none;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalOpen {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }

}
